<div class="container">
  <section id="details">
    <ul>
      <li><strong>ID:</strong> {{todoList.task[0].uuid}}</li>
      <li><strong>Type:</strong> {{todoList.task[0].type}}</li>
      <li><strong>Content:</strong> {{todoList.task[0].content}}</li>
      <li><strong>Done:</strong> {{todoList.task[0].done}}</li>
      <li><strong>Date:</strong> {{todoList.task[0].date_created}}</li>
    </ul>
  </section>
  <div class="btn-group">
    <a class="btn btn-success" onclick="history.back()">Back</a>
  </div>
</div>
